
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('/img/fondo.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: rgb(153, 152, 152);

text-align: center;
}

.form-group{
  text-align: center;
}


.card-body{
  border-radius: 40%;
}



input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}


.login_btn{
color: rgb(189, 6, 6);
background-color: #0f0b00;
width: 100px;
text-align: center;

}

.login_btn:hover{
color: black;
background-color: rgb(182, 0, 0);
}


.links a{
margin-left: 4px; 
}